footer {
  padding: 30px 0;
  width: auto;
  text-align: center;
}

.navbar-default .navbar-collapse .first-level.navbar-right .user-dropdown .user-details-area > div .user-text{
  padding-left: 0;
}

.table-icon{
  margin: 0;
  position: static;
  cursor: pointer;
}

@keyframes show-animation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
